$purpleColor: #60338e;
$yellowColor:#f3ef03;

.container{
  width: 100%;
  position: relative;
}

.container--intro{
  height: 100vh;
}

.ilustration {
  height: 100%;
  width: 100%;
  background-image: url(../images/computer.svg);
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  top: 0;
}

.content{
  position:relative;
  z-index: 10;
}


@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.close{
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  display: block;
}


.logo{
  color:#fff;
  margin: 0 auto;
  padding-top: 1em;
  text-align: center;
  display:block;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 300;
}

.icon__logo{
  color: $yellowColor;
  display: inline-block;
  padding-right:0.2em;
}

.yellow{
  color:$yellowColor;
}

.row{
    width:90%;
    margin: 0 auto;
}

.container--selects{
  margin: 2em auto;
  text-align: center;
  background: rgba(255,255,255,0.2);
  padding:2em;
}

.slogan{
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 2em
}
