*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


body {
  font: 12px/1.5 'Oswald', sans-serif {
  weight: 300;
  }
  margin: 0;
  padding:0;
  background:#60338e;
}

ul,
li,
p,
a,
span,
div,
label,
button,
nav,
h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: 'Oswald', sans-serif;
    weight: 300;
  }
}

img{
  width: 100%;
}

ul{
  list-style: none;
  padding: 0;
}
